extends layout

block content
  
  #banner.page-header
    .row
      .col-md-12.col-sm-12
        br
        br
        h3= title
  .row
    .col-md-12.col-sm-12
      p
        |<br/><br/>
        | Waether App Which Will Show Accurate Weather.
        | <br/><br/><br/>
        | Daily Hourly And Air quality Will be Shown.
        | <br/><br/>
        | Weather App tells you wheather to go out or not . 
      p 
        |<br><br>
        | <i><h3>Contact us</h3></i>
        | <br><br>
        |Email Id : &nbsp;&nbsp;&nbsp;
        a(href='mailto:muskaanmarwa13@gmail.com') muskaanmarwa13@gmail.com
        |<br>
        |Instagram : &nbsp;&nbsp;&nbsp;
        a(href='https://instagram.com/muskaan__marwa?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D') muskaan__marwa
        |<br>
        |Twitter : &nbsp;&nbsp;&nbsp;
        a(href='https://twitter.com/marwa_muskaan?t=ii_IDWrj_J4zKshrX7Juqg&s=08') @marwa_muskaan

       
